//media queries begins here
//tablets
@media screen and (max-width:768px) {
    .third {
        width: 100%;
        text-align: center;
    }

    .half {
        width: 80%;
    }



}

//mobile
@media screen and (max-width:768px) {
    .banner {
        background-image: url('../img/bgUzuri_wunhdm_c_scale,w_752.png');
        height: 110vh;
        display: flex;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid $highlight;
        background-position: center;
        background-repeat: no-repeat;


    }

    .footer_container {
        height: 150%;
    }

}

@media screen and (max-width:426px) {
    .banner {
        background-image: url('../img/bgUzuri_wunhdm_c_scale,w_402.png');
        height: 110vh;
        display: flex;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid $highlight;
        background-position: center;
        background-repeat: no-repeat;


    }

    .body-title {
        font-size: 20px;
    }




}

@media screen and (max-width:320px) {
    .banner {
        background-image: url('../img/bgUzuri_wunhdm_c_scale,w_345.png');
        height: 110vh;
        display: flex;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid $highlight;
        background-position: center;
        background-repeat: no-repeat;


    }



    .three {
        width: 100%;
    }


}
