@mixin bodyTile {
    justify-content: center;
    text-align: center;
    font-family: 'Expletus Sans', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}


@mixin Allimg {
    max-width: 100%;
    height: auto;
    display: block;
}

@mixin Links {
    text-decoration: none;
    color: $textBlack;
}

@mixin Gallery-title {
    text-align: center;
    text-decoration: underline overline wavy $highlight;
    margin-bottom: 2%;
}
